<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://microgovern.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microgovern.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>microgovern</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$microgovern</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ServiceDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;Initial Catalog=microgovernDB;User ID=b9f21bd0a11f4c;Password=573f1ecb" Name="Database=microgovernDB;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=b9f21bd0a11f4c;Password=573f1ecb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MicroGovern.Models.Services_mng.ServiceDBContext, MicroGovern" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ResponseDBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;Initial Catalog=microgovernDB;User ID=b9f21bd0a11f4c;Password=573f1ecb" Name="Database=microgovernDB;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=b9f21bd0a11f4c;Password=573f1ecb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MicroGovern.Models.Responses_mng.ResponseDBContext, MicroGovern" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RequestDBContext" Order="3" Enabled="False">
          <Destination Path="Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;Initial Catalog=microgovernDB;User ID=b9f21bd0a11f4c;Password=573f1ecb" Name="Database=microgovernDB;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=b9f21bd0a11f4c;Password=573f1ecb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MicroGovern.Models.Request_mng.RequestDBContext, MicroGovern" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="True">
          <Destination Path="Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;Initial Catalog=microgovernDB;User ID=b9f21bd0a11f4c;Password=573f1ecb" Name="Database=microgovernDB;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=b9f21bd0a11f4c;Password=573f1ecb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MicroGovern.Models.ApplicationDbContext, MicroGovern" MigrationConfiguration="MicroGovern.Migrations.Configuration, MicroGovern" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection_old" Order="5" Enabled="False">
          <Destination Path="Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;Initial Catalog=microgovernDB;User ID=b9f21bd0a11f4c;Password=573f1ecb" Name="Database=microgovernDB;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=b9f21bd0a11f4c;Password=573f1ecb" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MicroGovern-20150513062435.mdf;Initial Catalog=aspnet-MicroGovern-20150513062435;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_old_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MicroGovern-20150513062435.mdf;Initial Catalog=aspnet-MicroGovern-20150513062435;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Database=microgovernDB;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=b9f21bd0a11f4c;Password=573f1ecb</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection_old-Web.config Connection String">
      <ParameterValue>Database=microgovernDB;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=b9f21bd0a11f4c;Password=573f1ecb</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RequestDBContext-Web.config Connection String">
      <ParameterValue>Database=microgovernDB;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=b9f21bd0a11f4c;Password=573f1ecb</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ResponseDBContext-Web.config Connection String">
      <ParameterValue>Database=microgovernDB;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=b9f21bd0a11f4c;Password=573f1ecb</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ServiceDBContext-Web.config Connection String">
      <ParameterValue>Database=microgovernDB;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=b9f21bd0a11f4c;Password=573f1ecb</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>